# Core API
fastapi==0.115.0
uvicorn[standard]==0.30.6

# Async MongoDB driver
motor==3.6.0

# Data validation
pydantic==2.9.2
pydantic-settings==2.5.2
email-validator==2.2.0

# Auth & security
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# ML inference
scikit-learn==1.5.2
numpy==1.26.4

# Multipart form support (used internally by FastAPI)
python-multipart==0.0.10

# Environment
python-dotenv==1.0.1

pandas==2.2.2
joblib==1.4.2
